<section class="admin-dashboard-index">
  <header class="page-header">
    <h1>Admin Dashboard</h1>
  </header>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Total Categories</th>
        <th>Total Products</th>
      </tr>
    </thead>
    <tbody>
      <td>
        <%= @total_categories %>
      </td>
      <td>
        <%= @total_products %>
      </td>
    </tbody>
  </table>
  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>
  <%= link_to "Catelogue", admin_products_path, class: 'btn btn-lg btn-primary' %>
</section>